Repository robhanlon22/clapper: changes, and which pre-commit hooks are due for each by the changed paths.
All: mise-fmt, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: system
      - id: mise-fmt
        name: mise fmt
        entry: mise fmt
        language: system
        files: ^mise\.toml$
        pass_filenames: false
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
      - id: shfmt
        name: shfmt
        entry: shfmt -w
        language: system
        types: [shell]

Use Pydantic for CLI validation and add noise floor option
  pyproject.toml
  src/clapper/__init__.py
  src/sounddevice/__init__.pyi
  tests/test_clapper.py
  uv.lock
Due: ruff-check, ruff-format, mypy

taplo for formatting
  .pre-commit-config.yaml
  mise.toml
Due: mise-fmt

Handle CLI validation and enforce command separator
  src/clapper/__init__.py
  tests/test_clapper.py
Due: ruff-check, ruff-format, mypy

Remove unnecessary mypy conf
  pyproject.toml
Due: none

Cleanup
  src/clapper/__init__.py
Due: ruff-check, ruff-format, mypy

Add another dep
  scripts/codex-setup.sh
Due: none

Add contributor guidelines
  .pre-commit-config.yaml
  AGENTS.md
Due: none

Document CLI separator requirement in AGENTS.md
  AGENTS.md
Due: none

Trim redundancy in AGENTS.md
  AGENTS.md
Due: none

Make brew bundle opt-in
  AGENTS.md
  README.md
  scripts/mise-postinstall.sh
Due: none

Install pre-commit via uv since we are on python
  mise.toml
  pyproject.toml
  scripts/mise-postinstall.sh
  uv.lock
Due: mise-fmt

Handle help option before command separator
  src/clapper/__init__.py
Due: ruff-check, ruff-format, mypy

Refactor clapper package structure
  src/clapper/__init__.py
  src/clapper/cli.py
  src/clapper/detection.py
  src/clapper/events.py
  src/clapper/process.py
  tests/test_clapper.py
Due: ruff-check, ruff-format, mypy

Handle stop signals in event loop
  src/clapper/__init__.py
  tests/test_clapper.py
Due: ruff-check, ruff-format, mypy

Use mocks for CLI and stream helpers
  src/clapper/py.typed
  src/sounddevice/py.typed
  tests/test_cli.py
  tests/test_detection.py
  tests/test_events.py
Due: ruff-check, ruff-format, mypy

Harden clap detection against non-impulsive noise
  src/clapper/detection.py
  tests/__init__.py
  tests/audio_samples.py
  tests/test_detection.py
  tests/test_events.py
Due: ruff-check, ruff-format, mypy

Ignore repomix-output.xml
  .gitignore
Due: none
